*{
    font-family: sans-serif;
    padding: 90px 20px 0;
    background-color: blueviolet;
}

h1{
    text-align: center;
    background-color: palevioletred;
    
}

footer{
    background-color: palevioletred;
}


