<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Estados</title>
        <meta charset="UTF-8"/> 
        <link href="../staticc/css/estilo01.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>        
        <h2>Datos Estados</h2>
        <header th:replace="layout/plantilla :: header"/>
        <table border="2">
            <thead>
                <tr>
                    <th>Id del Estado</th>
                    <th>Nombre del Estado</th>
                    <th>Capital</th>
                    <th>Poblacion</th>
                    <th>Cantidad de costas</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="estado: ${estados}" >
                    <td>[[${estado.idEstado}]]</td>
                    <td>[[${estado.nombreEstado}]]</td>
                    <td>[[${estado.capital}]]</td>
                    <td>[[${estado.poblacion}]]</td>
                    <td>[[${estado.cantidadCostas}]]</td>
                    <td><a th:href="@{/estado/nuevo}">Agregar</a></td>
                    <td><a th:href="@{/estado/elimina/} + ${estado.idEstado}">Elimina</a></td>
                    <td><a th:href="@{/estado/actualiza/} + ${estado.idEstado}">Actualiza</a></td>

                </tr>
            </tbody>
        </table>
        <div th:if="${estados == null or estados.empty}">
            <h3>NO HAY NADA QUE MOSTRAR</h3>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
